<!DOCTYPE html>
<html>
 <head>
  <title>
    Online Car Rental Platform FastnEasy
  </title>
   <style>
     h1{
       font.weight:bold;
       font.style: italic;
       font.size:80px;
       font-family:Roboto;
       color:rgb(0,255,0);
       text-align:centre;
       }
     #banner {
     width:100%;
     height:360px;
     object-fit:cover;
     }
   </style>
  </head>

  <body>
     <h1>FastnEasy Car Rentals Bengaluru</h1>
  </body>
  /<img id="banner" src="https://replit.com/@raorajesh03/RWI-Careers-Website#Car_Rental_Banner.jpg">
    <h2>About FastnEasy</h2>
  <p>
    FastnEasy provides a wide range of car rental options, including hatchbacks, luxury sedans, Innova, and tempo travellers for groups. Specializing in luxury and outstation rentals, our air-conditioned cars are meticulously cleaned and maintained, ensuring optimal service quality.
  </p>
 <p>View our available cars that can be rented on an hourly, daily, or weekly basis</p> 
  <h3>Available Cars - Daily/Weekly/Monthly</h3>
  <h4>CAMRY / ACCORD OR SIMILAR
  PRICE INR 54,402</h4><button>Book</button>
  <h4>DZIRE / ETIOS / AMAZE OR SIMILAR
  PRICE INR 11,125</h4><button>Book</button>
  <h4>MERCEDES E CLASS OR SIMILAR
    PRICE INR 73,095</h4><button>Book</button>
  <h4></h4>
<div style='text-align:centre'>
  <button>Payment Method - Google Pay</button>
  <button>Payment Method - Net Banking</button> 
  <button>Payment Method - Debit Card</button>   
</div>
  <h5>Copyright 2024 FastnEasy</h5>
</html>